channels:
  - conda-forge

dependencies:
  - python
  - jupyter
  - jupytext
  - matplotlib
  - numpy
  - pandas
  - scipy
  - seaborn
  - csv
  - os
  - random
  - sys 
  - urllin
  - zipfile
  - cv2
  - PIL
  - pydicom
  - statsmodels
  - sklearn
  - tqdm
  - gc
  - hyperopt
  - kerastuner
  - requests